* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
}

#buttonPanel {
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.buttonPanel .textLabel {
  width: 30%;
}

.buttonPanel input {
  padding: 10px;
  width: 50%;
  margin-right: .5%;
}

.buttonPanel button {
  width: 14%;
  padding: 10px;
}

#messagesTrail {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messagesTrail li {
  padding: 5px 10px;
}

#messagesTrail li:nth-child(odd) {
  background: #eee;
}

#status {
  color: rgb(29, 168, 16);
}