* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
}

#messagesTrail {
  list-style-type: none;
    /* Hides bullet points from todo list */
}

#messagesTrail li {
  padding: 5px 10px;
}

#messagesTrail li:nth-child(odd) {
  background: #eee;
}

#statusPanel {
  font-weight: bold;
}

#status {
  color: rgb(29, 168, 16);
}